<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is the contact page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application. Presumeably there should be some information her about where to contact us. I'm sure it's on the page somewhere, but I sure don't have it. Sorry!
</p>